extends layout

block content
  span(class="centeringForm")
    h1 Welcome to the David Brazil Prosodic Labeler
    p Start the process of recieving a prosodic events by uploading a file: 
      br
      br
      br
      a(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", href='/uploadFile') Upload Sound File
