extends layout

block content
  span(class="centeringForm")
    h1 Analyze Sound files For Prosidic Events
    p
      br
      MATLAB Output:
      #{resultsFromAnalysis}
      br
      br
      br
      a(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", href='/feature') Analyze Sound Files Again

